/********** Root Vars ***************/
:root {
    --primary-color: #f0f0f0;
    --header-color: #22333b;
    --sidebar-color: #f7f3f3;
    --dark-color: #0d1b2a;
    --dark-blue-color: #1b263b;
    --gray-color: #415a77;
    --light-gray-color: #778da9;
    --header-height: 4rem;
    --side-bar-width: 3rem;
    --blue-color: #76d4fc;
    --blue-text-color: #024d70;
}
/********** Main Styles ***************/
html * {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
body {
    margin: 0px;
    /* padding-top: var(--header-height); */
}
#root {
    height: 100vh;
    width: 100vw;
}
.header {
    position: fixed;
    height: var(--header-height);
    background-color: var(--header-color);
    padding: 0.5rem;
    width: 100%;
    z-index: 3;
}
.header-home:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.side-bar {
    height: 100%;
    overflow-x: hidden;
    background-color: var(--sidebar-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    width: var(--side-bar-width);
    margin-top: var(--header-height);
}
.content {
    margin-top: var(--header-height);
    margin-left: var(--side-bar-width);
    width: 100%;
    height: calc(100% - var(--header-height));
}
.side-bar-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 2rem;
    padding: 0.25rem 0.5rem;
    transition: all .2s ease-in-out;
}
.side-bar-item:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.no-styles {
    text-decoration: none;
    color: black;
}

/***************************************/
/********** Pages Styles ***************/

/********** Projects ***************/


.login-card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    width: 40%;
    padding: 4rem 2rem;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.resume-title {
    color: var(--blue-text-color)
}

/********** Projects ***************/

.projects-container {
    padding: 1.5rem;
    overflow-y: scroll;
}
.card-box-shadow {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-box-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/********** Profile ***************/
.profile-page-container {
    padding: 1rem 2rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.profile-left-column {
    overflow-y: scroll;
    height: 100%;
}
.profile-image-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-work-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.divider {
    width: 100%; 
    height: 20px; 
    border-bottom: 1px solid black; 
    text-align: center;
}
.divider-text {
    background-color: #ffffff; 
    padding: 0 5px;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #919191
}
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(117, 117, 117);
}
.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}
.work-data-card {
    padding: 1rem;
    flex: 1;
}
.work-data-card-title {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-data-card-title-current {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.45rem;
    border-radius: 5px;
    background-color: rgb(206, 241, 255);
    color: rgb(33, 188, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-data-card-subtitle {
    padding-bottom: 1rem;
    text-decoration: underline;
}
.contact-info-header {
    width: 100%
}


/***************************************/
/********** Helper Styles ***************/
@media (max-width: 576px) {
    .text-hidden-mobile {
        display: none;
    }
}

@media (max-width: 992px) {
    .text-hidden-desktop {
        display: none;
    }
    .w-100.fit-content-desktop {
        width: fit-content !important
    }
}

.overflow-y-scroll {
    overflow-y: scroll;
}

@media (min-width: 992px) {
    .medium-modal-lg {
        width: 60vw !important;
        max-width: 60vw !important;
    }
}
 
/***************************************/
/********** Media Queries Styles ***************/

/* Mobile */
@media (max-width: 767px) {
    .profile-right-column {
        position: relative
    }
    .profile-page-container {
        overflow-y: scroll;
    }
}